*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    color:lightskyblue;
    text-align: center;
}
header h1{
    text-align: center;
    margin: 0px;
    padding: 20px;
}
header sub{
    position: relative;
    left:70px;
    top:-25px;
}
.main1{
    text-align: center;
}
#ask-btn{
    position: relative;
    left: 1200px;
    top: -50px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
hr{
    position: relative;
    top: -50px;
}
button{
    border-radius: 10px;
    outline: none;
    
    background-color: lightskyblue;
    color: aliceblue;
    padding: 5px 10px;
}
button:hover{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
button:active{
    outline: none;
}
.main1{
    position: relative;
    top: -50px;
    display: block;
}
.main1 input{
    color: lightskyblue;
    border-radius: 20px;
    width: 500px;
    border-color: lightskyblue;
    padding: 3px;
    padding-left: 20px;
    text-indent: 13px;
    height: 35px;
    outline: none;
}
i { 
    position: absolute;
    padding-top: 5px; 
    color: lightskyblue;
}
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
input:focus{
    border-radius: 20px;
    width: 500px;
    border-color: lightskyblue;
    outline: none;
    
}
input:hover{
    box-shadow: 5px 5px 10px gray;
}
.main1 input::placeholder{
    color: lightskyblue;
    padding: 5px;
    padding-left: 0px;
}
textarea:focus, input:focus{
    outline: none;
}
#search-btn{
    border-radius: 10px;
    border: none;
    padding:5px 10px;
}
.main2{
    position: relative;
    top:-30px;
    display: block;
    float: left;
    width: 80%;
    left:10%;
}
.main2 h5{
    color: lightskyblue;
    text-indent: 10px;
}
.main3{
    width: 100%;
    height: 150px;
    display: none;
}
#query-area{
    height: 100px;
    width: 98%;
    background-color: lightskyblue;
    padding: 10px;
    color: lightslategray;
    margin: 1%;
}
#post-btn{
    float: right;
    position: relative;
    right:75px;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}
#cancle-btn{
    float: right;
    right:50px;
    position: relative;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}